h1 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

.fancybox-slide--iframe .fancybox-content {
	width  : 800px;
	height : 600px;
	max-width  : 80%;
	max-height : 80%;
	margin: 0;
}

#videos-view {
	list-style: none;
}